.footer {
  background-color: #f1f1f1;
  padding: 30px 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  gap: 10px;
}

.footer-content p {
  color: #7f8c8d;
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  text-decoration: none;
  color: #7f8c8d;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #3498db;
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links {
    justify-content: center;
    gap: 15px;
  }

  .footer-links a {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .footer-content p {
    font-size: 12px;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
  }

  .footer-links a {
    font-size: 12px;
  }
}
